/* index.html */

.body-bg {
    background-color: bg-light;
}

.header-bg {
    background-color: #2B2B2B;
    color: #ffffff;
    padding: 20px 0;
}

.padding-bg {
    background-color: #F0F0D0; 
}

.header-bg a {
    color: #FFD700;
    text-decoration: none;
}

.header-bg a:hover {
    color: #DAA520;
    text-decoration: none;
}

/* PartyUI.js */
.pointer-with-triangle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    bottom: -8px; // Position of the triangle
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #28a745; // Create the triangle
}

/* EncounterUI.js */
/* Define a class for the red state */
#toggleSwitch.enemy:not(:checked) ~ .custom-control-label::before {
    background-color: #dc3545 !important; /* Use !important to override Bootstrap styles */
}

.btn-light-blue {
    background-color: #5F7FAD ;
    color: #white; 
}

.btn-light-red {
    background-color: #B37676 ;
    color: #white; 
}
