/* ====================================================== */
/* ===================== RESET/NORMALIZE ================ */
/* ====================================================== */

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* ====================================================== */
/* ======================= VARIABLES ==================== */
/* ====================================================== */

:root {
    --primary-color: #2B2B2B;
    --secondary-color: #EBD700;
    --enemy-color-dark: #DC3545;
    --enemy-color-light: #B37676;
    --ally-color-dark: #0B5ED7;
    --ally-color-light: #5F7FAD;
}

/* ====================================================== */
/* ==================== BASE/GLOBAL STYLES ============== */
/* ====================================================== */

body {

}

header {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

/* ====================================================== */
/* ====================== LAYOUT STYLES ================= */
/* ====================================================== */

.stacked-container {
    display: block;
    width: 100%;
}




/* ====================================================== */
/* ==================== COMPONENT STYLES ================ */
/* ====================================================== */

.btn {
    text-align: center;
}


/* ------------------------------------------------------ */
/* ------------------- HEADER STYLES -------------------- */
/* ------------------------------------------------------ */

.logo {
    height: 3em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

h2 {
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

h3 {
    text-align: center;
    width: 100%;
    font-size: 1em;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

header a:hover {
    color: var(--secondary-color);
}

header .subtitle {
    font-size: 0.9em;
    text-align: center;
}

/* ====================================================== */
/* ========================= UTILITIES ================== */
/* ====================================================== */

.w-10 {
    width: 10%;
}

.w-90 {
    width: 90%;
}



/* ====================================================== */
/* ====================== MEDIA QUERIES ================= */
/* ====================================================== */





/* ====================================================== */
/* ========================= OVERRIDES ================== */
/* ====================================================== */
